<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
 	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.2.xsd
 	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" >


	<context:property-placeholder location="classpath:/configs/services.properties" />

	<aop:aspectj-autoproxy />
	<!-- Aspect -->
	<bean id="saveToCache" class="vn.com.vndirect.aop.SaveToCacheAspect" />

	<bean id="orderCache" class="vn.com.vndirect.cache.OrderCacheImpl" init-method="init"/>
	<bean id="orderComparator" class="vn.com.vndirect.comparator.OrderComparatorImpl" />
	
	<bean id="restOrderTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="restStockTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<bean id="statusGenerator" class="vn.com.vndirect.utils.StatusGeneratorImpl"></bean>

	<bean id="stockInfoService" class="vn.com.vndirect.service.StockInfoServiceImpl">
		<constructor-arg>
			<ref bean="restOrderTemplate" />
		</constructor-arg>
		<property name="serviceSenderUrl">
			<value>${priceServiceSenderUrl}</value>
		</property>
	</bean>

	<bean id="orderService" class="vn.com.vndirect.service.OrderServiceImpl">
		<constructor-arg>
			<ref bean="restOrderTemplate" />
		</constructor-arg>
		<property name="serviceSenderUrl">
			<value>${orderServiceSenderUrl}</value>
		</property>
		<property name="validators">
		    <list>
		        <ref bean="accountValidator"/>
		        <ref bean="symbolValidator"/>
		        <ref bean="priceGreaterThanZeroValidator"/>
		        <ref bean="quantityValidator"/>
		        <ref bean="outOfBoundPriceValidator"/>
		    </list>
		</property>
	</bean>
	
	<bean id="accountValidator"  class="vn.com.vndirect.validator.AccountValidator" ></bean>
	<bean id="outOfBoundPriceValidator"  class="vn.com.vndirect.validator.OutOfBoundPriceValidator" >
	     <constructor-arg index="0" ref="stockInfoService"/>
	</bean>
	<bean id="priceGreaterThanZeroValidator"  class="vn.com.vndirect.validator.PriceGreaterThanZeroValidator" ></bean>
	<bean id="quantityValidator"  class="vn.com.vndirect.validator.QuantityValidator" ></bean>
	<bean id="symbolValidator"  class="vn.com.vndirect.validator.SymbolValidator" ></bean>
</beans>